@mixin breakpoint($class) {
  @if $class == sm {
    @media (min-width: 970px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

html {
  box-sizing: border-box;
}
body {
  background: snow;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2, p { margin: 0; }

h2 {margin-bottom: 25px; }
#sonnet {
  padding: 30px;
  color: chartreuse;
  font-family: monospace;
  font-size: 2em;

  div {
    margin-bottom: 15px;
  }
}
h3 {
  display: none;
  font-style: italic;
}
.machining {
  h3 {
    display: block;
  }
}
